.navbar {
    background: rgb(30,30,30);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.desktopListMenuItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopListMenuItem:hover {
    color: #6EACDA;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #6EACDA;
}

.desktopMenuBtn {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}

.desktopMenuImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}

.active {
    color: #6EACDA;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #6EACDA;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40,40,40);
    border-radius: 1rem;
    display: none; /* Default is hidden */
}

/* Hide mobile menu icon by default */
.mobMenu {
    display: none;
}

/* Show mobile menu icon and hide desktop menu for small screens */
@media (max-width: 768px) {
    .desktopMenu {
        display: none; /* Hide the desktop menu */
    }

    .mobMenu {
        display: block; /* Show the mobile menu icon */
    }

    .navMenu.show {
        display: flex; /* Show the mobile menu when clicked */
    }
}
