#intro {
    height: auto;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg{
    position:absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello{
    font-size: 1.75rem;
    font-weight: 100;
}

.introName{
    color: #6EACDA;
}

.introPara{
    font-size: medium;
    font-weight: 100;
}

.btn{
    display: flex ;
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.btnIcon{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
    margin-right: 1rem;

}

.btn:hover .btnIcon {
    transform: translateY(2px);
    transition: transform 0.2s ease;
}

.bg {
    position: absolute;
    top: 15%;
    right: 8%;
    width: 300px;
    height: 320px;

    object-fit: cover;
    border-radius: 50% / 40%;
    background-color: #fff;
    padding: 6px;

    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.18);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    z-index: 1;
}

.bg:hover {
    transform: translateY(-6px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
}

.socialLinks {
  display: flex;
  gap: 20px;
}

.socialIcon {
  font-size: 24px;
  color: #333; /* Change color as needed */
  transition: color 0.3s ease;
}
.socialLinks a:nth-child(1) .socialIcon { 
  color: white; /* Default color for GitHub */
}

.socialLinks a:nth-child(2) .socialIcon { 
  color: #0077b5; /* LinkedIn color */
}

.socialLinks a:nth-child(3) .socialIcon { 
  color: #00ab6c; /* Medium color */
}

.socialLinks a:nth-child(4) .socialIcon { 
  color: red; /* Email color */
}

/* Hover effects for individual icons */
.socialLinks a:nth-child(1):hover .socialIcon {
  color: #333; /* GitHub hover color */
}

.socialLinks a:nth-child(2):hover .socialIcon {
  color: #0073b1; /* LinkedIn hover color */
}

.socialLinks a:nth-child(3):hover .socialIcon {
  color: #00ab6c; /* Medium hover color */
}

@media screen and (max-width: 840px){
    .bg{
        right: -10vw;
    }
    .introContent{
        font-size: 10vw;
    }
    .hello{
        font-size: 4.5vw;
    }
}